:root{
    --header-text-color: rgb(221, 221, 221);
    --header-hover-color: rgb(187, 187, 187);
    --body-text-color: #dedddd;
    --body-background-color: rgb(19, 18, 19);
    --dropdown_background_color: #1a1a1a;
    --dropdown_text_color: rgb(221, 221, 221);
    --dropdown_hover_color: rgb(187, 187, 187);
    --footer_background_color: rgb(17, 17, 17);
}

body{
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    font-family: "Karla", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 2.75rem;
    background-image: linear-gradient(to right, rgb(162, 105, 48), rgb(123, 70, 17));
    border-bottom: 4px solid rgb(114, 69, 23);
    overflow: visible;
    display: flex;
}
/* header wrapper */
.header-content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
/* profile */
.sign-in{
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.profile-button{
    font-size: 18px;
    font-family: "Karla", sans-serif;
    color: var(--header-text-color);
    background-color: transparent;
    border: solid 2px var(--header-text-color);
    border-radius: 8px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
}
.sign-in-content{
    font-size: 14px;
    font-family: "Karla", sans-serif;
    width: 20rem;
    height: 20rem;
    display: none;
    position: absolute;
    background-color: var(--dropdown_background_color);
    border-radius: 8px;
    box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.304);
}
.profile-button:hover{
    color: var(--header-hover-color);
    text-decoration: underline;
}
.sign-in-content.active{
    display: block;
    float: left;
    right: 0rem;
}
/* profile dropdown details */
.sign-in-body-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.sign-in-body-wrapper a{
    color: var(--dropdown_text_color);
    border: none;
    text-decoration: none;
}
.sign-in-body-wrapper a:hover{
    color: var(--dropdown_hover_color);
    text-decoration: underline;
}
.sign-in-content h4{
    color: var(--dropdown_text_color);
    text-align: center;
    font-size: 1.25rem;
    margin: 0;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 2px solid var(--dropdown_text_color);
}
/* textbox in sign in area */
.sign-in-textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sign-in-textbox input{
    width: 15rem;
    height: 2rem;
    border-radius: 8px;
    border: 2px solid var(--dropdown_text_color);
    background-color: hsla(0, 0%, 0%, 0.139);
    color: var(--dropdown_text_color);
    padding-left: .5rem;
}
.sign-in-footer {
    border-top: 2px solid var(--dropdown_text_color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-in-footer button{
    border: none;
    background-color: hsla(0, 0%, 0%, 0.139);
    color: var(--dropdown_text_color);
    cursor: pointer;
    width: 85%;
    height: 2rem;
    border-radius: 8px 8px 8px 8px;
}
.sign-in-footer button:hover{
    background-color: var(--dropdown_hover_color);
}
/* title */
.header-content h2{
    color: var(--header-text-color);
    font-size: 2rem;
    display: flex;
    align-items: center;
    width: 15rem;
}

/* next to the title */
.header-options {
    height: 100%;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-options li{
    cursor: pointer;
    text-decoration: none;
}
.header-options a{
    color: var(--header-text-color);
    cursor: pointer;
    text-decoration: none;
}
.header-content a:hover{
    color: var(--header-hover-color);
}
.header-options a:first-child{
    padding-left: 1rem;
    border-left: 2px solid var(--header-text-color);
}
.header-options a:last-child{
    padding-right: 1rem;
    border-right: 2px solid var(--header-text-color);
}

/* legend: skipto content */
.legend{
    display: block;
    height: 100vh;
    width: 20%;
    border-right: .3rem solid rgb(114, 69, 23);
    float: left;
    background-image: linear-gradient(to bottom, rgb(162, 105, 48), rgb(114, 69, 23));
}
.legend-contents{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    background: var(--dropdown_background_color);
    float: right
}
.legend-title{
    margin-left: 1rem;
}
.legend h3{
    text-decoration: underline;
}
/* Links to sections */
.legend ul{
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
}
.legend li{
    margin-left: 1rem;
    cursor: pointer;
    padding-top: .5rem;
}
.legend a{

    color: var(--dropdown_text-color);
    text-decoration: none;
}
.legend a:hover{
    color: var(--dropdown-hover-color);
    text-decoration: underline;
}
/* body */
.written-body{
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    justify-content: center;
    height: 100vh;
    background-color: var(--dropdown_background_color);
}

/* darkmode toggle image */
header img{
    width: 2rem;
    height: 2rem;
    top: 1rem;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem; 
}
.darkmode-icon{
    display: block;
}
body.darkmode{
    --body-text-color: #dedddd;
    --body-background-color: rgb(19, 18, 19);
    --dropdown_background_color: #1a1a1a;
    --dropdown_hover_color: rgb(187, 187, 187);
    --footer_background_color: rgb(17, 17, 17);
}
body.lightmode{
    --body-text-color: #232323;
    --body-background-color: rgb(204, 204, 204);
    --dropdown_background_color: #ababab;
    --dropdown_hover_color: rgb(30, 30, 30);
    --dropdown_text_color: rgb(27, 27, 27);
    --footer_background_color: rgb(36, 36, 36);
}
/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: var(--footer_background_color);
    border-top: 4px solid rgb(114, 69, 23);
    overflow: visible;
}
.footer-content{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-content p{
    font-size: 1rem;
}
.footer-content h5{
    font-size: .8rem;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}