
.root {
    max-width: 1280px;
    padding: 0 0;
    margin: 0 auto;
    height: 100vh;
    margin-top: 1em;
    display: flex;
}

.cart-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
