#root {
  max-width: 1280px;
  padding: 0 0;
}

.items-of-homepage {
    display: flex;
    gap: 2em;
    justify-content: center;

    margin-top: 2em;
    margin-bottom: 2em;

    background-color: rgb(12, 12, 12);
    padding: 2em;
    width: 100vw;
    max-width: 100vw;
    max-height: 360px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.items-of-homepage::-webkit-scrollbar {
    height: 8px;
}
.items-of-homepage::-webkit-scrollbar-thumb {
    background-color: #646cff;
    border-radius: 4px;
}
.item-card {
    min-width: 300px;
    min-height: 300px;
    
    background-color: #1a1a1a;
    border-radius: 12px;
    box-sizing: border-box;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}