#root {
  max-width: 1280px;
  padding: 0 0;
}
.App {
  margin: 0 auto;
  height: 100vh;
  width: 100vw;  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-header {
  width: 70vw;
  font-size: 22px;

  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #444;
}

.App-title-container {
  display: flex;
  gap: 1em;
  cursor: pointer;
  width: fit-content;
  display: flex;
  gap: 1em;
}
.App-title-container img{
  flex-shrink: 1;
  min-width: 20px;
  min-height: 20px;
  width: 1.5em;
  height: auto;
}
.search-bar{
  display: flex;
  align-items: center;
}
.search-bar img {
  width: 1.5em;
  height: auto;
}
.App-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  border: 2px solid transparent;
  border-radius: 10px;

  width: fit-content;
  height: 20%;
  
  transition: opacity .3s ease-in-out, background-color .3s ease-in-out, border .3s ease-in-out;  
}
.App-profile:hover {
  opacity: 0.7;
  background-color: #444;
  border: 2px solid #444;
}
.search-bar-header {
  width: 0vw;
  height: 3em;
  opacity: 0;
  margin: 0 auto;
  
  background-color: #44444427;
  padding-left: 5px;
  margin-left: 7px;
  outline: none;
  border-radius: 0 10px 0 0;
  border-left: 2px solid #444;
  border-bottom: 2px solid #444;
  border-right: transparent;
  border-top: transparent;

  transition: width .5s ease-in-out, opacity .5s ease-in-out;
  font-size: 16px;
}
.search-bar-header.show{
  width: 20vw;
  opacity: 1;
}
.App-profile img {
  flex-shrink: 1;
  min-width: 20px;
  min-height: 20px;
  width: 1.5em;
  height: auto;
  cursor: pointer;
}
.App-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  gap: 2em;
}
