
#header {
    display: flex;
    align-items: center;
    padding: 12px 0;
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: var(--bg-primary);
    border-bottom: 2px solid var(--bg-secondary);
    @media (max-width: 1024px) {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        
    }
    
}



.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    font: 14px/1.5% var(--body);

    color: var(--text-primary);
    position: relative;
    transition: color 0.3s ease-in-out;
    @media (max-width: 1024px) {
        width: 100%;
        gap: 20px;
    }
    & .header-title {
    font: 28px/4.5% var(--heading);
    }
    & img {
        width: 32px;
        color: var(--text-primary);
        transition: filter 0.3s ease-in-out;
        &:hover {
            filter: drop-shadow(0 0 5px var(--accent));
        }
    }
    & h3{
        font-weight: 100;
        color: var(--text-primary);

    }
    & :hover{
        cursor: pointer;
        color: var(--accent);
    }
    
    & .header-links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 2em;
        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px
        }
    }
    & .disposable-element {
        display: block;
        @media (max-width: 400px) {
        display: none;
        }
    }
}

.header-content.active {
        height: 60px;
    }



.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.3s ease-in, -webkit-backdrop-filter 0.3s ease-in, opacity 0.3s ease-in, visibility 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    &.active {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .side-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 100%;
        z-index: 999;

        background-color: var(--bg-tertiary);
        transform: translateX(100%);
        transition: transform 0.3s ease-in, width 0.3s ease-in;
        @media (max-width: 500px) {
            width: 100%;
        }
        &.active {
            transform: translateX(0);
        };
        & .close-button {
            position: absolute;
            font-size: 24px;
            cursor: pointer;
            translate: 20px 20px;
        }
        & h3 {
            position: absolute;
            top: 40px;
            translate: 15px 80%;
            font: 24px/1.5% var(--heading);
            color: var(--text-primary);
            padding: 20px;
            border-bottom: 2px solid var(--accent);
            margin-bottom: 20px;
        }
        
        & ul {
            position : absolute;
            list-style: none;
            display: flex;
            top: 30px;
            translate: 20px 50%;
            flex-direction: column;
            gap: 2em;
            width: 90%;
            flex-wrap: wrap;
            & li {
                padding-left: 5px;
                padding-bottom: 10px;
                font: 18px/5.5% var(--heading);
                color: var(--text-primary);
                border-bottom: 2px solid var(--accent);
                transition: color 0.3s ease-in, border 0.3s ease-in;
                cursor: pointer;
                &:hover {
                    color: var(--accent);
                    border-bottom: 2px solid var(--accent-secondary);
                }
            }
        }

    }
}

.header-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            min-width: 200px;
            & .auth-buttons {
                flex: 1;
                width: 145px;
                display: flex;
                justify-content: space-between;
            }
            & button:last-child {
                background-color:transparent;
            }
            & button {
                padding: 10px 12px;
                background-color: var(--accent);
                color: var(--text-primary);
                border: 2px solid var(--accent);
                border-radius: var(--border-radius);
                
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: var(--accent-secondary);
                }
                @media (max-width: 500px) {
                    padding: 10px 5px;
                }
            }
            & .searchbar{
                display: flex;
                justify-content: space-between;
                width: 400px;
                border-radius: var(--border-radius);
                background-color: var(--bg-secondary);
                padding: 10px 10px;
                border: 2px solid var(--border);
                transition: border-color 0.3s ease-in-out;                 
                &:active, &:focus-within {
                    border-color: var(--accent);
                }
                @media (max-width: 500px) {
                    width: 100%;
                }
                & input {
                    width: 100%;
                    border: none;
                    outline: none;
                    font: 16px/1.5% var(--body);
                    
                    background-color: transparent;
                    color: var(--text-primary);
                }
                & img {
                    width: 18px;
                    height: 100%;
                    background-color: var(--bg-tertiary);
                    transition: filter 0.3s ease-in-out;
                    &:hover {
                        filter: drop-shadow(0 0 5px var(--accent));
                    }
                }

            }
        }

.close-icon {
    font-size: 44px;
    border: 2px solid var(--text-primary);
    padding: 20px 7.5px;

    color: var(--text-primary);
    transition: filter 0.3s ease-in-out;
    &:hover {
        filter: drop-shadow(0 0 5px var(--accent));
    }
}