
.app {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}
.header {
  display: flex;
  position: sticky;
  width: 80vw;
  max-width: 90vw;
  align-items: center;
  justify-content: space-between;
  margin: 0 10rem; 
  padding: 1rem 1.25rem;
  box-sizing: border-box;
  z-index: 50;
  border-bottom: 2px solid rgba(255, 255, 255, 0.626);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #80fb61aa);
}
.big_banner {
  font-size: 1rem;
  margin-bottom: 0.5em;
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5em;
  display: flex;
  background-color: #f0f0f0;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
