:root {
  --header-height: 15vh;   
  --sidebar-width: 15vw; 

  --background-color: #262626;
  --secondary-color: #1A1A1A;
  --background-color-light: #dcd4c7;

  --sidebar-color-light: #cbc1b0;

  --text-color: #cecece;
  --text-color-secondary: #888888;
  --text-color-dark: #1c1c1c;
  --accent-color: #646cff;
  --accent-color-dark: #ff61ea;

  --border-color-light: rgb(92, 92, 92);
  --border-color: rgb(207, 207, 207);
}

.app {
  text-align: center;
  display: flex;
  min-height: 100vh;
}
.content {
  padding: 2rem;
  width: 100%;
  max-width: calc(100vw - (var(--header-height*0.77)));
  min-height: calc(100vh - var(--header-height));
  box-sizing: border-box;
  margin: var(--header-height) auto var(--header-height);
  transition: background-color 0.3s, color 0.3s;
}
.content.lightMode {
  background-color: var(--background-color-light);
}
.inside-content {
  width: 80%;
  margin: 0 auto;
}
body{
  height: 100vw;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.lightMode{
  background-color: var(--background-color-light);
  color: var(--text-color-dark);  
}


.text-header-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  z-index: 8;
  font-size: .7rem;
  background-color: var(--background-color);
  transition: background-color 0.3s;
  box-shadow: 0 4px rgba(0, 0, 0, 0.134);
}
.text-header-container.dark {
  background-color: var(--background-color-light);
}
.text-header {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.nav-links {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0 auto;
  width: 85%;
  color: white;
  text-decoration: none;
  
  padding: .6rem;
  border-radius: 8px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.221);
  transition: background-color .4s, font-weight .4s;
}

.nav-links p:hover {
  background-color: rgba(160, 46, 46, 0.3);
  font-weight: 500;
}

.sidebar {
  transform: translateX(-77%); 
  transition: transform 0.5s ease-out, border-radius 0.5s ease-out;

  border-right: 3px solid var(--border-color);
  border-radius: 0px;
  width: 20vw;
  height: 100vh;
  background-color: var(--secondary-color);
  padding: 1rem;
  z-index: 2;
  position: fixed;
  top: 0; 
  box-sizing: border-box;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.134);
  color: white;
  font-size: .8rem;
  transition: background-color 0.3s, color 0.3s, border-right 0.3s ease-in-out, transform 0.5s ease-out, border-radius 0.5s ease-out;
}
.sidebar.light {
  background-color: var(--background-color-light);
  border-right: 3px solid var(--border-color-light);
  color: var(--text-color-dark);
}
.sidebar.active {
  transform: translateX(0%); 
  border-radius: 4px;
}
.sidebar button{
  width: 100%;
  margin-bottom: 1rem;
}

.book-icon{
  position: absolute;
  right: 0;
  height: 4em;
  padding: .5em;
  border: 2px solid transparent;
}
.book-icon:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  border: 2px solid #646cffaa;
}
.ease-in-out {
  transform: translateX(-80%); 
  transition: transform 0.5s ease-out, opacity 0.3s ease-out;
  opacity: 0;

  padding: 20px;
  width: 15vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(34, 34, 34);
}
.ease-in-out.light {
  background-color: var(--sidebar-color-light);
}
.ease-in-out.active {
  transform: translateX(0); 
  opacity: 1;
}

.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter .6s ease-in-out;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.dark:hover {
  filter: drop-shadow(0 0 2em #ff61eaaa);
}

.inside-content {
  position: relative;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  overflow: visible;
}

.intro-text {
  display: flex;
  float: left;
  gap: 3rem;
  justify-content: center;
}
.intro-title {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.intro-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right, #646cff, #ff61ea);
  border-radius: 2px;
  padding-right: .2rem;
  padding-left: .1rem;
}
.intro-description {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
  text-align: left;
  padding-left: 0.5rem;
}

.spacer-horizontal {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.5rem;
  width: 40%;
}
.triangle-divider {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid var(--accent-color);
  align-self: center;
  margin-bottom: 1rem;
}
.lalacat-image {
  display: block;
  max-width: 40%;
  height: auto;
}
.big_banner {
  flex-shrink: 1;
  font-size: 1rem;
  margin-bottom: 0.5em;
  border: 2px solid rgb(92, 92, 92);
  border-top: none;
  padding: 0.5em;
  margin-bottom: 6rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.icon-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.subject-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50vh;
  padding: .5rem;
  transition: filter 300ms, border 300ms, background-color 300ms ease-in-out, border-radius 300ms ease-in-out;
  border: 2px solid rgba(156, 156, 156, 0.75);
}
.subject-box:hover {
  filter: drop-shadow(0 2em 2em #282828aa);
  border: 2px solid rgba(54, 55, 65, 0.667);
  border-radius: 8px;
  background-color: rgba(98, 98, 98, 0.24);
}

.subject-icon {
  width: 3.5rem;
  height: 3.5rem;
}



* {
  scrollbar-width: thin;
  scrollbar-color: #5b5b5b #888888;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}




.read-the-docs {
  color: #888;
}
