
.app {
  text-align: center;
  display: flex;
  min-height: 100vh;
}
.text-header-container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  left: 15%;
  padding-left: 1rem;
  z-index: 10;
}
.links-list {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;
  width: 90%;
  padding-left: .4em;

  list-style-type: none;
  text-align: left;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.links-list li {
  padding: 0;
  margin: 0 auto;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 102%;
  margin-left: -5px;
}
.links-list li:last-child {
  border-bottom: none;
}
.links-list li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding: .4em;
  
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: #1a1a1a;
  border-right: 3px solid rgba(255, 255, 255, 0.626);
  padding: 1rem;
  box-sizing: border-box;
}

.sidebar button{
  width: 100%;
  margin-bottom: 1rem;
}
.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #80fb61aa);
}
.inside-content {
  display: flex;
  position: fixed;
  bottom: 0;
  top:15vh;
  left: 15vw;
  padding-left: 1rem;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.05);
  overflow-y: auto;
  z-index: 1;
}

.big_banner {
  font-size: 1rem;
  margin-bottom: 0.5em;
  border: 2px solid rgb(92, 92, 92);
  border-top: none;
  padding: 0.5em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.scroll-row-of-interests {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 30vh;
  margin: 0 auto;
  gap: 1rem;
  padding: .5rem 1rem .5rem 1rem;
  margin-top: 2rem;
  overflow-x: auto;
  border-radius: .5rem;
  border-right: 5px solid rgb(29, 29, 29);
  border-left: 5px solid rgb(27, 27, 27);

}

* {
  scrollbar-width: thin;
  scrollbar-color: #5b5b5b #888888;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.scroll-row-of-interests::-webkit-scrollbar {
  scroll-snap-type: proximity;

  height: 12px;
  width: 10%;
}
.scroll-row-of-interests::-webkit-scrollbar-track {
  background: rgba(160, 160, 160, 0.927);
  border-radius: 10px;  
}
.scroll-row-of-interests::-webkit-scrollbar-thumb {
  background: rgba(58, 58, 58, 0.6);
  border-radius: 10px;
}
.scroll-row-of-interests::-webkit-scrollbar-thumb:hover {
  background: rgba(46, 44, 46, 0.8);
}

.interest-item {
  display: flex;
  flex-direction: column;
  flex: auto auto auto;
  background: rgba(100, 108, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.163);
  transition: background-color 0.5s, transform 0.5s;
  height: 95%;
  padding: 0 1rem;
  max-width: 500px;
  min-width: 250px;
}
.interest-item h4 {
  padding-top: 1.75rem;
  font-size: 1.75rem;
  margin: 0 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  text-align: start;
}
.interest-item-text {
  font-size:14px;
  word-wrap: break-word;
  white-space: normal;
  width: 90%;
  text-align: start;
  

  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.read-the-docs {
  color: #888;
}
