
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}
.text-header-container {
  width: 95vw;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 0 0 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
}
.header {
  border-bottom: 2px solid rgba(255, 255, 255, 0.626);
  
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: #1a1a1a;
  border-right: 2px solid rgba(255, 255, 255, 0.626);
  padding: 1rem;
  box-sizing: border-box;
}
.sidebar button{
  width: 100%;
  margin-bottom: 1rem;
}
.logo {
  height: 5em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #80fb61aa);
}
.inside-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
}
.big_banner {
  font-size: 1rem;
  margin-bottom: 0.5em;
  border: 2px solid rgb(92, 92, 92);
  border-top: none;
  padding: 0.5em;
  display: flex;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
